.upload-form-container {
    margin: auto;
    font-family:Arial, Helvetica, sans-serif;
    background-color: white;
    width: 60%;
    min-height: 600px;
    padding: 50px;
    box-shadow: 0px 2px 2px 3px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

.track-upload-form {
    border: 1px solid #206082;
    padding: 20px;
    border-radius: 5px;
    min-height: 400px;
}

.form-button-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.submit-button {
    background-color: #206082;
    
    margin: auto;
    color: #dcdcdc;
    font-family: Arial, Helvetica, sans-serif;
    height: 50px;
    border: transparent;
    font-size: 16px;
    font-weight: bold;
}

.submit-button:hover {
    background-color: #14465f;
    color: #e4e4e4;

}

.form-field {
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-row-gap: 10px;
    background-color: #dcdcdc;
    padding: 5px;
}

.form-field-other {
    margin-top: 20px;
    background-color: #dcdcdc;
    padding: 5px;
}

.radio-button-container {
    display: grid;
    grid-template-columns: 10% 10% 1fr;
    padding: 10px;
}

.form-errors {
    min-height: 20px;
}

.form-error-list-item {
    color: red;
}



@media screen and (max-width: 1100px) {
    .form-input-container {
        margin: auto;
        grid-template-rows: max-content max-content;
        grid-template-columns: 1fr;
    }

    .form-label {
        text-align: left;
        margin-left: 20px;
        width: 100%;
        padding-right: 0;
    }

    .form-input {
        width: 100%;
        margin-left: 20px;
    }
}



@media screen and (min-width: 1000px) {
    .submit,
    .submit-button {
        background-color: #206082;
        min-width: 300px;
        margin: auto;
        color: #dcdcdc;
        font-family: Arial, Helvetica, sans-serif;
        height: 50px;
        border: transparent;
        font-size: 16px;
        font-weight: bold;
    }
}

@media screen and (min-width: 501px) and (max-width: 999px) {
    .submit,
    .submit-button {
        background-color: #206082;
        width: 90%;
        margin: auto;
        color: #dcdcdc;
        font-family: Arial, Helvetica, sans-serif;
        height: 50px;
        border: transparent;
        font-size: 16px;
        font-weight: bold;
    }
}

@media screen and (max-width: 500px) {

    .submit,
    .submit-button {
        width: 80%;
        font-size: 14px;
    }


    .form-label {
        font-size: 12px;
    }

    .form-input {
        width: 100%;
        margin-left: 20px;
        font-size: 12px;
    }

    .form-input-container {
        margin: 0;
    }

    .form-container {
        width: 100%;
    }
}