* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.media-player-container {
    width: 100vw;
    position: fixed;
    bottom: 0;
    display: grid;
    grid-template-columns: 10% 1fr 10%;
    grid-template-rows: 50px;
    background-color: #F2F2F2;
    border-top: 1px solid #e4e4e4;
}

.main-space {
    margin-left: 10%;
    display: flex;
    align-items: center;
}


.media-control {
    height: 35px;
    border: none;
    background-color: transparent;
    margin-left: 10px;
}

#play {
    height: 75%;
}

#pause {
    height: 60%;
}

.progress-bar-container {
    width: 50%;
    height: 1px;
    background-color: #464646;
    margin-left: 20px;
}

.progress-bar {
    height: 1px;
    background-color: #FECD07;
}

.time-display {
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 10px;
    color: #464646;
}

.track-info-img {
    height: 30px;
    width: 30px;
    margin-left: 20px;
}

.track-info-display {
    display: flex;
    align-items: center;
}

.track-info-title {
    font-size: 0.8rem;
    color: #464646;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 10px;
}

.track-info-creator {
    font-size: 0.6rem;
    color: #6b6b6b;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 10px;
}

.media-close-space {
    display: flex;
    justify-content: flex-end;
    margin-right: 50px;
}

.media-player-closer {
    align-self: flex-start;
    border: none;
    color: #464646;
    cursor: pointer;
    font-size: 0.9rem;
    font-family: Arial, Helvetica, sans-serif;

}

.media-player-closer:hover {
    color: #000000;
}
