.content-scroller {
    width: 80vw;
    display: flex;
    overflow-x: scroll;
}

.media-card-container {
    width: 25%;
    height: 250px;
    background-color: green;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
}

.media-card-image {
    width: 90%;
    background-color: blue;
    height: 200px;
    box-shadow: 0px 3px 3px 2px rgba(0, 0, 0, 0.2);
    margin-top: 5px;
}

.media-card-description {
    background-color: yellow;
    width: 90%;
    height: 35px;
}

.media-card-title {
    margin: 0;
    padding: 0;
    font-size: 1.0rem;
}

.media-card-artist {
    font-size: 0.8rem;
    margin: 0;
    padding: 0;
}
