.content-carousel-container {
    position: relative;
    padding-bottom: 15px;
    padding-top: 25px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.05);
}

.content-carousel {
    height: max-content;
    width: 80%;
    padding: 10px;
    display: grid;
    overflow-x: hidden;
    grid-auto-columns: 25%;
    grid-template-rows: 1fr;
    grid-auto-flow: column;
    grid-column-gap: 15px;
}

.content-carousel-title {
    font-size: 1.5rem;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 10px;
}


.media-card-container {
    border-radius: 5px;
    height: 250px;
    background-color: transparent;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: 0px 2px 1px 3px #e4e4e450;
}

.media-card-image {
    width: 90%;
    background-color: blue;
    height: 200px;
    box-shadow: 0px 3px 3px 2px rgba(0, 0, 0, 0.2);
    margin-top: 5px;
}

.albumArt {
    width: 100%;
    height: auto;
}

.media-card-description {
    background-color: yellow;
    width: 90%;
    height: 35px;
    /* overflow: hidden;
    white-space: nowrap; */
}

.media-card-title {
    margin: 0;
    padding: 0;
    font-size: 1.0rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.media-card-artist {
    font-size: 0.8rem;
    margin: 0;
    padding: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.direction-button {
    height: 50px;
    width: 35px;
    position: absolute;
    bottom: 115px;
    border: 1px solid #333333;
    border-radius: 4px;
    color: #333333;
    background-color: #e4e4e4;
}

.direction-button:hover {
    border-color: #F56859;
    color: #F56859;
    background-color: #c0c0c0;
}

.direction-button:active {
    bottom: 114px;
}

.back {
    left: 0;
}

.forward {

    left: 78%;
}

.spacer {
    height: 100px;
}
