/* TODO Add site wide styles */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.display-container {
    display: grid;
    grid-template-columns: 10% 80% 10%;
    grid-template-rows: minmax(100vh, auto);
}

.display-side-space {
    background-color: #595959;
    height: 100%;
}

.display-main {
    background-color: #F8F8F8;
    height: 100%;
    padding-top: 75px;
}
