.form-input {
    width: 80%;
}

#signup-form,
#login-form {
    border: 1px solid #206082;
    padding: 20px;
    border-radius: 5px;
    min-height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.form-errors {
    min-height: 20px;
}

.form-error-list-item {
    color: red;
}

.form-container {
    margin: auto;
    font-family:Arial, Helvetica, sans-serif;
    background-color: white;
    width: 60%;
    min-height: 600px;
    padding: 50px;
    box-shadow: 0px 2px 2px 3px rgba(0, 0, 0, 0.2);
    border-radius: 5px;

}

.form-title {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.form-button-container {
    display: flex;
    justify-content: center;
}

.form-input-container {
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-rows: max-content max-content;
    grid-row-gap: 10px;
    margin-bottom: 10px;
    background-color: #dcdcdc;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-right: 40px;
}

.form-label {
    text-align: right;
    padding-right: 20px;
}



.submit-button:hover {
    background-color: #14465f;
    color: #e4e4e4;

}


@media screen and (max-width: 100px) {
    .submit,
    .submit-button {
        background-color: #206082;
        width: 300px;
        margin: auto;
        color: #dcdcdc;
        font-family: Arial, Helvetica, sans-serif;
        height: 50px;
        border: transparent;
        font-size: 16px;
        font-weight: bold;
    }
}



@media screen and (max-width: 500px) {

    .submit,
    .submit-button {
        max-width: 100px;
    }
}