.search-results-container {
    display: grid;
    grid-template-columns: min-content 1fr;
    column-gap: 10px;
    font-family: Arial, Helvetica, sans-serif;
}


.search-filter-button {
    border: none;
    background-color: #999999;
    width: 150px;
    height: 30px;
    color: #dcdcdc;
    margin: 3px;
    position: relative;
}

.search-filter-button:hover {
    background-color: #464646;
    cursor: pointer;
}

.search-filter-button:active {
    top: 2px;
}

.cancel-filter-button {
    background-color: #F56859;
    color: #000000;
}

.cancel-filter-button:hover {
    background-color: #ff361f;
    font-weight: bold;
    border: 1px solid #a71100;
}

.lang-dropdown-list {
    width: 90%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(13, 1fr);
    grid-auto-flow: column;
    list-style: none;
    margin-left: 5%;
}

.lang-dropdown-li {
    background-color: #206082;
    color: #dcdcdc;
    margin: 1px;
    font-size: 12px;
    height: 15px;
    padding-left: 3px;
}

.lang-dropdown-li:hover {
    background-color: #14465f;
    cursor: pointer;
}

.active-filter {
    background-color: #464646;
}

.active-lang-filter {
    background-color: #14465f;
    border: 1px solid #FECD07;
}

.search-results-message {
    color: #999999;
}

.user-search-card-container,
.album-search-card-container,
.track-search-card-container {
    width: 80%;
    display: grid;
    grid-template-columns: 15% 85%;
    grid-template-rows: 200px;
    border-radius: 7px;
    box-shadow: 0px 2px 1px 3px #e4e4e450;
    column-gap: 20px;
    margin-bottom: 20px;
}

.album-search-card-container {
    grid-template-rows: 300px;
    grid-template-columns: 18% 82%;
}

.user-search-card-container {
    grid-template-rows: 250px;
}

.user-search-card-container:hover,
.album-search-card-container:hover,
.track-search-card-container:hover {
    background-color: #fcfcfc;
}

.track-search-card-image-container {
    margin-top: 20px;
    margin-left: 20px;
}

.track-search-card-info-container {
    margin-top: 20px;
}

.search-card-info-likes,
.track-search-card-info-likes {
    height: 35px;
    display: flex;
    align-items: center;
    background-color: #ffffff;
    border: 1px solid #999999;
    padding: 5px;
    border-radius: 4px;
    position: relative;
}

.search-card-info-likes:hover,
.track-search-card-info-likes:hover {
    border: 1px solid #F56859;
    background-color: #f6f6f6;
    top: 1px;
    cursor: pointer;
}

.search-card-info-likes:active,
.track-search-card-info-likes:active {
    top: 2px;
}

.likes-heart {
    height: 100%;
    margin-right: 5px;
}

.search-card-link {
    text-decoration: none;
    color: black;
}

.search-card-link:hover {
    cursor: pointer;
    text-decoration: underline;
    color: #FECD07;
    text-decoration-color: #FECD07;
}

.album-track-list-item-container {
    display: grid;
    height: 25px;
    grid-template-columns: 25px 1fr max-content;
    border: 1px solid #999999;
    width: 600px;
}

.album-track-list-item-container:hover {
    background-color: #cfcfcf;
    cursor: pointer;
}

.album-track-list-item-title {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    margin-top: 3px;
}


.album-track-list-item-img {
    width: 19px;
    margin-left: 2px;
    margin-top: 2px;

}

.album-track-list-item-play-arrow {
    height: 19px;
    margin-right: 5px;
    margin-top: 2px;
}

.album-search-card-image-container {
    padding-left: 20px;
    padding-top: 20px;
}

.album-search-card-info-container {
    padding-top: 20px;
}

.album-search-card-tracks-container {
    display: flex;
    justify-content: flex-end;
    padding-right: 50px;
}

.more-tracks-button {
    height: 25px;
    width: 600px;
    background-color: transparent;
    border: 1px solid #999999;
    position: relative;
    font-size: 16px;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
}

.more-tracks-button:hover {
    background-color: #cfcfcf;
    cursor: pointer;
}

.more-tracks-button:active {
    background-color: #b1b1b1;
    top: 1px;
}

.album-search-card-button-container {
    display: flex;
    justify-content: flex-end;
    padding-right: 200px;
    padding-top: 10px;
}

.user-search-card-info-container {
    display: grid;
    grid-template-columns: 40% 60%;
}

.user-search-card-image {
    width: 100%;
    margin-top: 20px;
    margin-left: 20px;
    border-radius: 50%;
    border: 2px solid #c9c9c9;
}

.user-search-card-info-container {
    margin-left: 20px;
}

.user-search-card-info-title {
    margin-top: 20px;
    margin-bottom: 20px;
}

.user-search-card-album-section {
    margin-top: 20px;
}

.user-search-card-info-subtitle {
    color: #999999;
}

.user-search-card-album-container {
    display: flex;
    width: 80%;
    border: 1px solid #999999;
    padding-top: 10px;
    padding-left: 10px;
}

.mini-album-card-container {
    margin-right: 5px;
    width: 20%;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 110px;
}

.mini-album-card-image {
    width: 100%;
}

.mini-album-card-title {
    font-size: 12px;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}

.mini-album-card-link {
    text-decoration: none;
    color: #000;
}

.mini-album-card-link:hover {
    filter: brightness(80%);
    color: #FECD07;
    text-decoration: underline;
}

.view-more-albums {
    font-size: 16px;
    font-weight: 700;
    height: 40px;
    transform: rotate(0.75turn);
    width: 100px;
    position: relative;
    top: 31px;
    left: 55%;
    background-color: #ffffff;
    border: 1px solid #999999;
}

.view-more-albums:hover {
    border: 1px solid #F56859;
    background-color: #f6f6f6;
    left: 55.1%;
    cursor: pointer;
}